
<div class="container">

<h1>Suspensions#index</h1>

<%= debug params%>
<form>
  <label>Search by Category</label>
  <input name="qs" category="qs"></input>
</form>
<p>Find me in app/views/suspensions/index.html.erb</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>

      <th>
        Team
      </th>

      <th>
        Games
      </th>

      <th>
        <select>
          <% @suspensions.each do |suspension| %>
            <option>Category</option>
            <option value="<%= suspension.category %>"><%= suspension.category %></option>
          <% end %>
        </select>
      </th>

      <th>
        Description
      </th>

      <th>
        Year
      </th>

      <th>
        Source
      </th>
    </tr>
  </thead>
  <tbody>
    <% @suspensions.each do |suspension| %>
    <tr>
      <td>
        <%= suspension.name %>
      </td>
      <td>
        <%= suspension.team %>
      </td>
      <td>
        <%= suspension.games %>
      </td>
      <td>
        <%= suspension.category %>
      </td>
      <td>
        <%= suspension.description %>
      </td>
      <td>
        <%= suspension.year %>
      </td>
      <td>
        <%= suspension.source %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
